<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <button class="home-button" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span>Tinner</span>
    </button>
    <button routerLink="/404" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span>Member</span>
    </button>
    <button routerLink="/server-error" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span>XYZ</span>
    </button>
    <span>My App</span>
    <span class="my-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>